@model IEnumerable<IMSApp.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}
<br /><br />

<h1 style="color:red;">List of Suppiers</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.SupplierId">Edit</a> |
                    <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.SupplierId">Details</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.SupplierId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
